body{
  background-color:#1C1C1C;
}
#root {
  width: 550px;
  height: 868px;
  background-color: #23252C;
  margin: 53px auto;
}
.container{
  padding: 44px;
}
.info{
  text-align: center;
  background-color: #1A1B21;
  width: 317px;
  margin: auto;

}
.card {
  padding: 2em;
}
.card-name{
  font-size: 25px;
  margin-top: 21px;
  margin-bottom: 7px;
  color: #ffffff;
}
.card-sub{
  font-weight: 400;
  font-size: 13px;
  color: #F3BF99;
  margin-bottom: 8px;
}
.card-link{
  font-weight: 400;
  font-size: 10px;
  color: #F5F5F5;
  margin-bottom: 15px;
}
.card-btn{
  margin: 9px;
  font-size: 13px;
  /* display: flex; */
}
.card-icon{
  margin:auto;
}
.linkedin{
  background-color: #5093E2;
  color: #ffffff;
}
.card-btn-txt{
  margin:9px;
}